#top-heading,
#crystal {
    padding-top:10px;
    padding-bottom:10px;
}

.ts {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: mediumaquamarine;
    color: white;
}

#red-crystal,
#white-crystal,
#green-crystal,
#blue-crystal {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: tan;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    color: white;
    font-family: 'Noto Serif', serif;
}

#win-main,#losses-main {
    background-color: mediumaquamarine;
    color: black;
    font-family: 'Raleway', sans-serif;
}


body {
    font-family: monospace;
    background-image: url("../images/diamond-background.png");
    font-weight: bold;
}

#random-number-display{
    background-color: mediumaquamarine;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 15px 0px;
    width: 40%;
}

#score-total {
    background-color: mediumaquamarine;
    font-size: 24px;
    font-weight: bold;
}

.hd {
    margin-bottom: 0px;
}
.ht {
    height: 50%;
}

#rnd, #wl{
    
}

#spacer {
    width: 20%;
    border: 2px white;
}